<!DOCTYPE html>

<html>
<head>
    <title>PayWay Freelance</title>
</head>
<body style="font-family: Arial; background:#f2f2f2;">

<div style="width:800px; margin:40px auto; background:white; padding:30px; border-radius:10px;">

<h1>PayWay Freelance Marketplace</h1>

<p>TEST PAYWAY LIVE</p>

<hr>

<h2>Freelance xizmatlar</h2>

{% for product in products %}

<div style="border:1px solid #ddd; padding:15px; margin-bottom:15px; border-radius:8px;">

<h3>{{ product.title }}</h3>

{% if product.image %} <img src="{{ product.image.url }}" width="200">
{% endif %}

<p>{{ product.description }}</p>

<p><b>Narx:</b> ${{ product.price }}</p>

<p><b>Seller:</b> {{ product.seller.username }}</p>

</div>
{% endfor %}

</div>

</body>
</html>
